name: E2E Tests

on:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          node-version: '16'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.4.0

      - name: Install Dependencies
        run: npm ci

      - name: Run Linters
        run: npm run lint

      - name: Run Formatters
        run: npm run format

      - name: Run E2E Tests
        run: npm run test:e2e

      - name: Archive Jest Report
        uses: actions/upload-artifact@v2
        with:
          node-version: '16'
          name: jest-report
          path: ./test_results/report.html

      - name: Debug Jest HTML Report
        run: |
          ls -l ./test_results
          cat ./test_results/report.html
      - name: Adjust Permissions
        run: |
             chmod -R 777 ./test_results

