name: E2E Tests

on:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm ci

      - name: Install jest-html-reporters
        run: npm install jest-html-reporters

      - name: Run Linters
        run: npm run lint

      - name: Run Formatters
        run: npm run format

      - name: Run E2E Tests
        run: npm run test:e2e

      - name: Archive Jest Report
        uses: actions/upload-artifact@v2
        with:
          name: jest-report
          path: ./test_results/jest-html-reporters-attach/report.html

      - name: Delay before Archiving
        run: sleep 5

      - name: Debug Artifacts
        run: |
          ls -R ./test_results
          cat ./test_results/jest-html-reporters-attach/report.html
